<div class="row pt-5 justify-content-center">
    <!-- start of product -->
    <div class="col-md-3 col-6 product--individual text-center">
    <a href="/pages/watches">
    <div class="product--img position-relative">
    <div class="product-border"></div>
    <div class="product-bg"></div>
    <img src="//cdn.shopify.com/s/files/1/0280/8004/6214/products/Timber-Zebrawood-3_450x.png?v=1591735704" alt="Product Categories Watches" width="100%" class="mb-3">
    </div>
    </a>
    <h6 class=""><a class="mt-4 mb-4 nova-bold accent" href="/pages/watches">watches</a></h6>
    </div>
    <!-- end of product --> 
    <!-- start of product -->
    <div class="col-md-3 col-6 product--individual text-center">
    <a href="/collections/sunglasses">
    <div class="product--img position-relative">
    <div class="product-border"></div>
    <div class="product-bg"></div>
    <img src="https://cdn.shopify.com/s/files/1/0280/8004/6214/products/Aztec-2_450x.png?v=1591733949" alt="Product Categories - Sunglasses" width="100%" class="mb-3">
    </div>
    </a>
    <h6 class=""><a class="mt-4 mb-4 nova-bold accent" href="/collections/sunglasses">sunglasses</a></h6>
    </div>
    <!-- end of product -->
    <!-- start of product -->
    <div class="col-md-3 col-6 product--individual text-center">
    <a href="/pages/bracelets">
    <div class="product--img position-relative">
    <div class="product-border"></div>
    <div class="product-bg"></div>
    <img src="{{ 'image-product-category-1.jpg' | asset_url }}" alt="" width="100%" class="mb-3">
    </div>
    </a>
    <h6 class=""><a class="mt-4 mb-4 nova-bold accent" href="/pages/bracelets">bracelets</a></h6>
    </div>
    <!-- end of product -->
    <!-- start of product -->
    <div class="col-md-3 col-6 product--individual no-fade text-center">
    <!-- <a href="/collections/package-deals"> -->
    <div class="product--img position-relative">
    <div class="product-border"></div>
    <div class="product-bg"></div>
    <img src="{{ 'Retro-X-Products-New-Mugs.png' | asset_url }}" alt="" width="100%" class="mb-3 transparent-bg">
    </div>
    <!-- </a> -->
    <h6 class="mb-1 nova-bold accent">Waterbottles / Mugs</h6>
    <div> <em><small>(Coming Soon)</small></em></div>
    </div>
    <!-- end of product -->
    </div>