<div class="si text-center">
<a href="https://www.facebook.com/retroxco/" target="_blank">
<img src="{{ 'F-B.png' | asset_url }}" alt="" width="35px" />
</a>
<a href="http://instagram.com/retroxco/" target="_blank">
<img src="{{ 'IG.png' | asset_url }}" alt="" width="35px" />
</a>
<a href="https://pinterest.com/retroxco/" target="_blank">
<img src="{{ 'P.png' | asset_url }}" alt="" width="35px" />
</a>
<a href="mailto:info@retroxco.com" target="_blank">
<img src="{{ 'EI.png' | asset_url }}" alt="" width="35px" />
</a>
</div>