<!-- start of product categories -->
<section class="product-categories pt-5 pb-5">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <h3 class="title nova-thin">browse by collection</h3>
    </div>
    </div>
{% include 'product-categories' %}
    </div>
    </section>
    <div class="bg-grey bg-border"></div>
    <!-- end of product categories -->