<style>
div#shopify-section-footer {
display: none;
}
/* .free-bracelet{
min-height: 300px;
height: 100vh;
overflow:hidden;
} */
@media screen and (max-width:991px){
.free-bracelet .disclaimer {
    max-width: 75%;
    margin: auto;
    text-align: center;
    /* padding-bottom: 27px; */
}
}
@media screen and (max-width:767px){
.free-bracelet{
height:unset;
}
    .free-bracelet .row {
    flex-flow: column-reverse;
}
strong.ql-font-tahoma {
    font-size: 1.9rem !important;
}
}
</style>

<div class="container-fluid free-bracelet">
<div class="row" style="">
<div class="col-md-6 p-0">
<img src="{{ 'Photos-15-percent-off-bracelets.jpg' | asset_url }}" alt="Free Bracelet with purchase of any watch" width="100%" style="height: 580px;object-fit: cover;">
</div>
<div class="col-md-6 pr-lg-5 pt-xl-5 pb-5 mt-xl-5">
<div class="klaviyo-form-RuDNvz"></div>
<p class="disclaimer">We treat your data confidentially and don't share any information with third parties.</p>
</div>


</div>
</div>
</div>
<!-- finish modal -->